.main-container-navigation{
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

.logo-wrapper-navigation{
  img{
    width: 250px;
  }
}

.login-wrapper-navigation{
  text-align: right;
  button {
    background-color:var(--primary-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 999px; /* Botón completamente redondeado */
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
  }
}

.login-wrapper-navigation button:hover {
  background-color: var(--secondary-color); /* Un tono más oscuro al pasar el mouse */
}


