<div class="main-container-navigation">
  <div class="logo-wrapper-navigation">
    <img src="assets/logo_versiones-01.jpeg" alt="Logo" [routerLink]="['/']" style="cursor: pointer;">
  </div>
  <div class="menu-wrapper-navigation">
    <p [routerLink]="['/quienes-somos']" style="cursor: pointer;">¿Quiénes somos?</p>
    <p [routerLink]="['/servicios']" style="cursor: pointer;">Servicios</p>
    <p  [routerLink]="['/contacto']" style="cursor: pointer;">Contáctanos</p>
  </div>
  <div class="login-wrapper-navigation">
    <button
      *ngIf="!isLoggedIn"
      [routerLink]="['/login']"
      class="btn-login"
    >
      Iniciar Sesión
    </button>

    <button
      *ngIf="isLoggedIn"
      (click)="onlogOut()"
      class="btn-login"
    >
      Cerrar Sesión
    </button>
  </div>
</div>

