<div class="main-appointment-container">
  <div class="title-appointment-wrapper">
    <h2>Gestión de reservas</h2>
  </div>

  <form [formGroup]="filterForm" (ngSubmit)="getAppointments()" class="filter-form">
    <label>
      Profesional:
      <select formControlName="professional_id" class="form-select">
        <option value="">Selecciona profesional</option>
        <option *ngFor="let pro of professionales" [value]="pro.id_professionals">
          {{ pro.name_professionals }} {{ pro.last_name_professionals }}
        </option>

      </select>
    </label>

    <label>
      Fecha:
      <input type="date" formControlName="date_appointments" />
    </label>
    <label>
      Turno:
      <select formControlName="turno">
        <option value="">Todos</option>
        <option value="mañana">Mañana</option>
        <option value="tarde">Tarde</option>
      </select>
    </label>

    <button type="submit">Buscar reservas</button>
  </form>

  <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
  <div *ngIf="loading" class="loading">Cargando reservas...</div>

  <table *ngIf="appointments.length && !loading" class="appointments-table">
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Profesional</th>
        <th>Tratamiento</th>
        <th>Fecha</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Duración</th>
        <th>Estado</th>
        <th>Motivo Reserva</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let app of appointmentsFiltradas">
        <td>{{ app.paciente }}</td>
        <td>{{ app.profesional }}</td>
        <td>{{ app.tratamiento }}</td>
        <td>{{ app.fecha_cita }}</td>
        <td>{{ app.hora_inicio }}</td>
        <td>{{ app.hora_fin }}</td>
        <td>{{ app.duracion }} min</td>
        <td>{{ app.estado }}</td>
        <td>{{ app.motivo_cancelacion || '-' }}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!appointments.length && !loading" class="loading">No hay reservas para esta selección.</div>
</div>
