<section class="dentista-layout-container">
  <div class="dashboard-actions">
    <button routerLink="/dentista/agenda-diaria" class="action-btn">Ver Agenda Diaria</button>
    <button routerLink="/dentista/agenda-semanal" class="action-btn">Ver Agenda Semanal</button>
    <button routerLink="/dentista/historial-citas" class="action-btn">Historial de Citas</button>
    <button routerLink="/dentista/disponibilidades" class="action-btn">Consultar Disponibilidades</button>
  </div>

  <router-outlet></router-outlet>
</section>

