<div class="main-update-professional-container">
  <h2>Historial de Citas</h2>

  <div *ngIf="loading">Cargando historial...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <table *ngIf="!loading && citas.length > 0">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Paciente</th>
        <th>Tratamiento</th>
        <td>Motivo</td>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <td>{{ formatDate(cita.fecha_cita) }}</td>
        <td>{{ formatHour(cita.hora_inicio) }}</td>
        <td>{{ cita.paciente }}</td>
        <td>{{ cita.tratamiento }}</td>
        <td>{{ cita.motivo_cancelacion }}</td>
        <td>{{ cita.estado }}</td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!loading && citas.length === 0">No hay citas registradas.</p>
</div>

