<div class="hero-home">
  <div class="contenido-hero">
    <h1>Bienvenido a Smyle</h1>
    <p>Clínica dental especializada en cuidar tu sonrisa con tecnología de vanguardia y un equipo humano excepcional.</p>
    <button routerLink="/contacto"><i class="fas fa-phone-alt icon-margin"></i>912 345 678</button>
  </div>
</div>
<div class="beneficios-home">
  <div class="title-beneficios">
    <h2>¿Por qué elegirnos?</h2>
  </div>
  <div class="menu-beneficios">
    <ul class="beneficios">
      <li><i class="fas fa-user-graduate"></i>
        Profesionales altamente cualificados
        <p>En Smyle, contamos con un equipo de odontólogos y especialistas con una sólida formación académica y años de experiencia en distintas áreas de la salud bucodental. Estamos en constante actualización para ofrecerte los tratamientos más eficaces y vanguardistas.</p>
      </li>
      <li><i class="fas fa-handshake"></i>
        Trato cercano y personalizado
        <p>Cada sonrisa es única, y así tratamos a cada paciente. Nos tomamos el tiempo para escucharte, entender tus necesidades y crear un plan de tratamiento personalizado que se adapte a ti, en un ambiente cálido y de confianza.</p>
      </li>
      <li><i class="fas fa-tooth"></i>
        Equipamiento moderno y seguro
        <p>Nuestra clínica está equipada con tecnología dental de última generación, que nos permite realizar diagnósticos más precisos y tratamientos más cómodos, rápidos y seguros. Apostamos por la innovación para cuidar tu salud con los mejores recursos.</p>
      </li>
    </ul>
  </div>
</div>

