.hero-home {
  /*background: url('/assets/hero-smyle.jpg') center/cover no-repeat;*/
  padding: 6rem 2rem;
  text-align: left;
  color: var(--text-color);
}

.contenido-hero h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contenido-hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.contenido-hero button {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
.icon-margin {
    margin-right: 20px;
  }

.beneficios-home {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.title-beneficios h2{
  color: var(--text-color);
  margin-bottom: 0px;
}

.beneficios {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 500;
  margin: 40px;
  gap: 40px;
}

.beneficios-home li {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  color: var(--primary-color);
  p{
    color: var(--text-color);
    font-size: 0.85rem;
    text-align: -webkit-center;
    margin-top: 20px;
  }
}
