<div class="agenda-container">
  <h2>Agenda Semanal</h2>

  <div class="week-grid">
    <div *ngFor="let day of week" class="day-column">
      <h4 [class.today]="isToday(day.date)">
        {{ day.date | date: 'EEEE, d MMM' }}
      </h4>
      <div *ngIf="day.appointments.length > 0; else noCitas">
        <div class="appointment-card" *ngFor="let appt of day.appointments">
          <strong>{{ appt.time }}</strong><br />
          {{ appt.patientName }}<br />
          <em>{{ appt.treatment }}</em>
        </div>
      </div>
      <ng-template #noCitas>
        <p class="no-appointments">Sin citas</p>
      </ng-template>
    </div>
  </div>
</div>
>
