<!-- treatments.component.html -->
<div class="main-container-login">
  <div class="login-box">
    <div class="avatar-wrapper">
      <div class="avatar-icon">
        <i class="fa-solid fa-stethoscope"></i> <!-- Icono relacionado a salud/tratamientos -->
      </div>
    </div>

    <div class="title-wrapper-login">
      <h1>Gestión de Tratamientos</h1>
    </div>

    <!-- Listado de tratamientos -->
    <div *ngIf="treatments && treatments.length > 0; else noTreatments">
      <ul>
        <li *ngFor="let treatment of treatments">
          {{ treatment.name_treatments }} - {{ treatment.type_treatments }} - {{ treatment.id_treatments }} - {{ treatment.price_treatments }}
        </li>
      </ul>
    </div>
    <ng-template #noTreatments>
      <p>No hay tratamientos disponibles.</p>
    </ng-template>

    <!-- Formulario para crear nuevo tratamiento -->
    <form class="form-login" (ngSubmit)="createTreatment(newTreatmentForm.value)" #newTreatmentForm="ngForm">
      <div class="input-group email">
        <input type="text" name="nombre" placeholder="Nombre del tratamiento" [(ngModel)]="createTreatment" required />
      </div>

      <div class="input-group password">
        <input type="text" name="descripcion" placeholder="Descripción" [(ngModel)]="createTreatment" required />
      </div>

      <button type="submit" [disabled]="newTreatmentForm.invalid">Crear Tratamiento</button>
    </form>
  </div>
</div>
