.main-container-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 2rem;*/
}

.title-wrapper-register p {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1rem;
}
.step-text {
  font-size: 0.75rem;
  color: var(--secondary-color);
}


.body-wrapper-register {
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.body-wrapper-register input,
.body-wrapper-register select {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s ease;
  color: var(--text-color);
}

.body-wrapper-register input:focus,
.body-wrapper-register select:focus {
  border-color: var(--primary-color);
  outline: none;
}

.body-wrapper-register button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.body-wrapper-register button:hover {
  background-color: var(--secondary-color);
}

.message-success {
  background-color: #d4edda;
  color: #155724;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #c3e6cb;
  font-size: 0.95rem;
  text-align: center;
}
.message-error {
  background-color: #f8d7da;
  color: #721c24;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #f5c6cb;
  font-size: 0.95rem;
  text-align: center;
}
.disabled-input {
  background-color: #e0e0e0 !important;
  color: #6c757d !important;
  cursor: not-allowed !important;
  border: 1px solid #ced4da !important;
}
