*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #c3aed6, #7367f0, #5c7cfa);
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-container-login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-box {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 60px 30px 40px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  text-align: center;
  overflow: hidden;
}

.avatar-wrapper {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.avatar-icon i {
  font-size: 65px;
  background-color: transparent;
  color: var(--primary-color);
  width: 65px;
  height: 65px;
  line-height: 65px;
}

.title-wrapper-login h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1.8rem;
  color: var(--text-color);
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-group{
  position: relative;  /* para que ::before se posicione bien */
  display: flex;
  align-items: center;
  gap: 8px;
}
.input-group i {
  position: relative;
  width: 250px;
}
.input-group input {
  width: 100%;
  padding: 12px 16px 12px 44px;
  border: none;
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.25);
  color: var(--text-color);
  font-size: 1rem;
  background-repeat: no-repeat;
  background-position: 14px center;
  background-size: 20px;
  display: block;
  box-sizing: border-box;
}

.input-group.email::before {
  content: "\f007";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 18px;
  pointer-events: none;
}
.input-group.password::before {
  content: "\f023";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 18px;
  pointer-events: none;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  color: #f1f1f1;
}

.form-options input[type="checkbox"] {
  margin-right: 6px;
}

.forgot-link {
  color: var(--text-color);
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

.form-login button {
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: background 0.3s ease;
}

.form-login button:hover {
  background-color: var(--secondary-color);
}

/* Mensaje de error */
.error-message {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ff4d4d;
}
