.main_container-professional {
    max-width: 1000px;
    margin: 30px auto;
    /*padding: 30px;*/
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    /*border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);*/
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  h2{
    margin-bottom: 20px;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
  }
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  /*max-width: 1000px;*/
}

.card {
  background-color: var(--background-color);
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  border: 2px solid transparent;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  border-color: var(--primary-color);
}

.card h4 {
  margin: 0 0 0.5rem;
  font-size: 1.3rem;
  color: var(--primary-color);
}

.card p {
  margin: 0;
  color: var(--text-color);
  font-size: 0.75rem;
}

.body-components-professional{
  margin-top: 25px;
}
